@inject IUserSettingsHandle UserSettingsHandle
@inject IApiClient Client
@inject IAppState AppState

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>404, Not Found.</p>
            <a href="/">Home Page</a>
        </LayoutView>
    </NotFound>
</Router>

@code {
    protected override async Task OnInitializedAsync()
    {
        await foreach (var item in Client.ListFundsAsync())
        {
            await UserSettingsHandle.UpdateAsync(x => x.AddFund(
                item.Token.Symbol, 
                new FundInfo()
                {
                    Name = item.Name,
                    DisplayName = item.DisplayName,
                    Description = item.Description,
                    ContractAddress = item.Token.Address,
                    Decimals = item.Token.Decimals
                }));
        }
    }
}
