@inherits LayoutComponentBase
@inject IWebAssemblyHostEnvironment env
@inject IOptions<AppSettings> settings

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://www.pseudonym.org.uk/" target="_blank" class="ml-md-auto">About Pseudonym</a>
    </div>

    <div class="content px-4">
        @if (env.IsDevelopment())
        {
            <div class="dev-header">
                <p>API Url @settings.Value.ApiUrl</p>
                <p>Service Name @settings.Value.ServiceName</p>
                <p>Service Version @settings.Value.Version</p>
            </div>
        }
        @Body
    </div>
</div>
