@inherits LayoutComponentBase
@inject IWebAssemblyHostEnvironment Environment
@inject IOptions<AppSettings> Settings
@inject IAppState AppState

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://www.pseudonym.org.uk/" target="_blank" class="ml-md-auto">About Pseudonym</a>
    </div>

    <div class="content px-4">
        @if (Environment.IsDevelopment())
        {
            <div class="dev-header">
                <p>API Url @Settings.Value.ApiUrl</p>
                <p>Service Name @Settings.Value.ServiceName</p>
                <p>Service Version @Settings.Value.Version</p>
            </div>
        }
        @Body
    </div>
</div>

@code
{
    protected override void OnInitialized()
    {
        AppState.Assign(StateHasChanged);
    }
}
