@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://www.pseudonym.org.uk/" target="_blank" class="ml-md-auto">About Pseudonym</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
