@inject IAppState AppState

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="https://invictuscapital.com/" target="_blank"></a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-graph" aria-hidden="true"></span> Funds
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="portfolio">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Portfolio
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="stakes">
                <span class="oi oi-lock-locked" aria-hidden="true"></span> Stakes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="settings">
                <span class="oi oi-cog" aria-hidden="true"></span> Settings
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="help">
                <span class="oi oi-book" aria-hidden="true"></span> Help
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override void OnInitialized()
    {
        AppState.Assign(StateHasChanged);
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
