.invictus {
    color: white !important;
    background-color: #cf2127 !important;
    border-color: #cf2127 !important;
}

.invictus:hover {
    color: white !important
}

.invictus-text {
    color: #cf2127 !important;
}

    .invictus-text:hover {
        color: white !important;
        background-color: #cf2127 !important;
        border-color: #cf2127 !important;
    }

.iba {
    color: white !important;
    background-color: #f67a06 !important;
    border-color: #f67a06 !important;
}

    .iba:hover {
        color: white !important
    }

.iba-text {
    color: #f67a06 !important;
}

    .iba-text:hover {
        color: white !important;
        background-color: #f67a06 !important;
        border-color: #f67a06 !important;
    }

.igp {
    color: white !important;
    background-color: #c7822a !important;
    border-color: #c7822a !important;
}

    .igp:hover {
        color: white !important
    }

.igp-text {
    color: #c7822a !important;
}

    .igp-text:hover {
        color: white !important;
        background-color: #c7822a !important;
        border-color: #c7822a !important;
    }

.ihf {
    color: white !important;
    background-color: #133775 !important;
    border-color: #133775 !important;
}

    .ihf:hover {
        color: white !important
    }

.ihf-text {
    color: #133775 !important;
}

    .ihf-text:hover {
        color: white !important;
        background-color: #133775 !important;
        border-color: #133775 !important;
    }

.iml {
    color: white !important;
    background-color: #0494d0 !important;
    border-color: #0494d0 !important;
}

    .iml:hover {
        color: white !important
    }

.iml-text {
    color: #0494d0 !important;
}

    .iml-text:hover {
        color: white !important;
        background-color: #0494d0 !important;
        border-color: #0494d0 !important;
    }

.ems {
    color: white !important;
    background-color: #fbad18 !important;
    border-color: #fbad18 !important;
}

    .ems:hover {
        color: white !important
    }

.ems-text {
    color: #fbad18 !important;
}

    .ems-text:hover {
        color: white !important;
        background-color: #fbad18 !important;
        border-color: #fbad18 !important;
    }

.c10 {
    color: white !important;
    background-color: #0e6cac !important;
    border-color: #0e6cac !important;
}

    .c10:hover {
        color: white !important
    }

.c10-text {
    color: #0e6cac !important;
}

    .c10-text:hover {
        color: white !important;
        background-color: #0e6cac !important;
        border-color: #0e6cac !important;
    }

.c20 {
    color: white !important;
    background-color: #0c3b59 !important;
    border-color: #0c3b59 !important;
}

    .c20:hover {
        color: white !important
    }

.c20-text {
    color: #0c3b59 !important;
}

    .c20-text:hover {
        color: white !important;
        background-color: #0c3b59 !important;
        border-color: #0c3b59 !important;
    }
