@page "/"
@inject IUserSettings UserSettings
@inject IApiClient Client
@inject IAppState AppState

<div style="text-align: center;">
    <h1 class="display-1">Funds</h1>
    <p class="lead">
        Below shows the summary of funds provided by <a href="https://invictuscapital.com/" target="_blank">Invictus Capital</a>.
        There are currently @(funds?.Count ?? 0) available funds.
    </p>
</div>

@if (!funds.Any())
{
    <Loading />
}
else
{
    <div class="container" style="display: contents;">
        @foreach (var fund in funds)
        {
            <div class="row">
                <div class="col">
                    <FundSummary Fund="fund" Clickable="true" />
                </div>
            </div>
        }
    </div>
}

@code {
    private readonly List<ApiFund> funds;

    public Funds()
    {
        funds = new List<ApiFund>();
    }

    protected override async Task OnInitializedAsync()
    {
        AppState.Assign(async () => await DrawAsync(false));

        await DrawAsync(true);
    }

    private async Task DrawAsync(bool firstRender)
    {
        if (!firstRender)
        {
            funds.Clear();

            StateHasChanged();
        }

        await foreach (var item in Client.ListFundsAsync())
        {
            funds.Add(item);

            StateHasChanged();
        }
    }
}
