@page "/"
@inject IUserSettings UserSettings
@inject IApiClient Client
@inject IAppState AppState

<h1 class="display-3">Funds Overview</h1>

<div class="alert alert-secondary mt-4" role="alert">
    <span class="oi oi-info mr-2" aria-hidden="true"></span>
    <span class="text-wrap">
        Below shows the summary of funds provided by <a href="https://invictuscapital.com/" target="_blank">Invictus Capital</a>.
        There are currently @(funds?.Count ?? 0) available funds.
    </span>
</div>

@if (!funds.Any())
{
    <Loading />
}
else
{
    <div class="container" style="display: contents;">
        @foreach (var fund in funds.OrderBy(x => x.DisplayName))
        {
            <div class="row">
                <div class="col">
                    <FundSummary Fund="fund" Clickable="true" />
                </div>
            </div>
        }
    </div>
}

@code {
    private readonly List<ApiFund> funds;

    public Funds()
    {
        funds = new List<ApiFund>();
    }

    protected override async Task OnInitializedAsync()
    {
        AppState.Assign(async () => await DrawAsync(false));

        await DrawAsync(true);
    }

    private async Task DrawAsync(bool firstRender)
    {
        if (!firstRender)
        {
            funds.Clear();

            StateHasChanged();
        }

        await foreach (var item in Client.ListFundsAsync())
        {
            funds.Add(item);
        }

        StateHasChanged();
    }
}
