@page "/portfolio"

<h1>Portfolio Overview</h1>

<div class="alert alert-secondary mt-4" role="alert">
    <span class="oi oi-info mr-2" aria-hidden="true"></span>
    <span class="text-wrap">
        Below shows the snapshot of your portfolio performance as of right now.
    </span>
</div>


@code {

}
