@page "/portfolio"
@inject IUserSettings UserSettings
@inject IApiClient Client
@inject IAppState AppState

<div style="text-align: center;">
    <h1 class="display-2">Portfolio</h1>
    <p class="lead">
        Below shows the snapshot of your portfolio value, you have invested in @investments.Count funds.
    </p>
</div>
@if (!UserSettings.HasValidAddress())
{
    <WalletEntry />
}
else if (!investments.Any())
{
    <Loading />
}
else
{
    <PortfolioSummary Investments="investments" />
    <div class="container" style="display: contents;">
        @foreach (var investment in investments.OrderBy(x => x.RealValue))
        {
            <div class="row">
                <div class="col">
                    <InvestmentSummary Investment="investment" Clickable="true" />
                </div>
            </div>
        }
    </div>
}


@code {
    private readonly List<ApiInvestment> investments;

    public Portfolio()
    {
        investments = new List<ApiInvestment>();
    }

    protected override async Task OnInitializedAsync()
    {
        AppState.Assign(async () => await DrawAsync(false));

        await DrawAsync(true);
    }

    private async Task DrawAsync(bool firstRender)
    {
        if (!firstRender)
        {
            investments.Clear();

            StateHasChanged();
        }

        if (UserSettings.HasValidAddress())
        {
            await foreach (var item in Client.ListInvestmentsAsync())
            {
                investments.Add(item);
            }

            StateHasChanged();
        }
    }
}