@using ChartJs.Blazor.Charts
@using ChartJs.Blazor.ChartJS.PieChart
@inject IUserSettings UserSettings
@inject IAppState AppState
@inject NavigationManager NavigationManager
@inject IJSRuntime Runtime

@if (!config.Data.Datasets.Any())
{
    <Loading />
}
else
{
    <div style="
        max-width: @($"{Width}px");
        max-height: @($"{Height}px");
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;">
        <ChartJsPieChart Config="config" Width="Width" Height="Height" @ref="chart" />
    </div>
}

@code {

    private readonly PieConfig config;
    private ChartJsPieChart chart;

    public SubInvestmentDistributionChart()
    {
        config = new PieConfig();
    }

    [Parameter]
    public int Height { get; set; } = 600;

    [Parameter]
    public int Width { get; set; } = 600;

    [Parameter]
    public string SubTitle { get; set; } = string.Empty;

    [Parameter]
    public bool IsHollow { get; set; }

    [Parameter]
    public IReadOnlyList<ApiSubInvestment> SubInvestments { get; set; }

    [JSInvokable]
    public void InstanceClickHandler(object sender, object args)
    {
        var clickData = JsonConvert.DeserializeObject<List<JPieClickData>>(args.ToString())
            .FirstOrDefault();

        if (clickData != null)
        {
            var subInvestment = SubInvestments.SingleOrDefault(a => a.Coin.Name.Equals(clickData.Model.Label, StringComparison.OrdinalIgnoreCase));
            if (subInvestment != null)
            {
                Runtime.InvokeAsync<object>("open", subInvestment.Coin.Links.Link.OriginalString, "_blank")
                    .GetAwaiter()
                    .GetResult();
            }
        }
    }

    protected override void OnInitialized()
    {
        AppState.Assign(() => Draw(false));

        config.Options = new PieOptions(IsHollow)
        {
            Responsive = true,
            Tooltips = new Tooltips()
            {
                DisplayColors = true,
            },
            MaintainAspectRatio = true,
            Title = new OptionsTitle()
            {
                Display = !string.IsNullOrEmpty(SubTitle),
                Text = new IndexableOption<string>(SubTitle),
                FontColor = ColorUtil.FromDrawingColor(Color.White)
            },
            Legend = new Legend()
            {
                Labels = new LegendLabelConfiguration()
                {
                    FontColor = ColorUtil.FromDrawingColor(Color.White)
                }
            },
            Animation = new ArcAnimation()
            {
                AnimateRotate = true,
                AnimateScale = true,
                Duration = 1000,
                Easing = Easing.EaseInOutCirc
            },
            ResponsiveAnimationDuration = 1000,
            OnClick = new DotNetInstanceClickHandler(InstanceClickHandler)
        };

        Draw(true);
    }

    private void Draw(bool firstRender)
    {
        if (!firstRender)
        {
            config.Data.Datasets.Clear();
            config.Data.Labels.Clear();

            StateHasChanged();
        }

        var colours = new List<Color>();
        var dataSet = new PieDataset()
        {
            BorderWidth = 2,
            HoverBorderWidth = 2,
            BorderAlign = BorderAlign.Inner,
            Weight = 1
        };

        foreach (var subInvestment in SubInvestments)
        {
            dataSet.Data.Add((double)Math.Round(subInvestment.MarketValue, 2));

            colours.Add(string.IsNullOrEmpty(subInvestment.Coin.HexColour)
                ? InvictusColours.RandomColor()
                : ColorTranslator.FromHtml(subInvestment.Coin.HexColour));

            config.Data.Labels.Add(subInvestment.Coin.Name);
        }

        var compiledColours = colours
            .Select(c => ColorUtil.FromDrawingColor(c))
            .ToArray();

        dataSet.BackgroundColor = compiledColours;
        dataSet.BorderColor = compiledColours;

        var compiledHoverColours = colours
            .Select(c => ColorUtil.ColorString(c.R, c.G, c.B, 0.5))
            .ToArray();

        dataSet.HoverBackgroundColor = compiledHoverColours;
        dataSet.HoverBorderColor = compiledColours;

        config.Data.Datasets.Add(dataSet);

        StateHasChanged();
    }
}
