<div class="@Symbol.ToString().ToLower()-text" style="display: inline-block;">
    <div class="spinner-grow" role="status" style="vertical-align: middle; width: 15px; height: 15px;">
    </div>
    <div class="spinner-grow" role="status" style="vertical-align: middle; width: 15px; height: 15px; animation-delay: .1s;">
    </div>
    <div class="spinner-grow" role="status" style="vertical-align: middle; width: 15px; height: 15px; animation-delay: 0.2s;">
    </div>
</div>

@code {
    [Parameter]
    public Symbol Symbol { get; set; }
}
