@inject IAppState AppState
@inject IUserSettings UserSettings

<div class="jumbotron jumbotron-fluid">
    <div class="container" style="padding-top: 12px; padding-bottom: 12px; border: 1px solid transparent;">
        <div class="container-fluid" style="max-width: none">
            <div class="row">
                <div class="col py-1">
                    <h1 class="display-4">Asset Breakdown</h1>
                    <p class="lead">
                        This fund comprises of @(Fund.Assets.Count) asset(s).
                    </p>
                    <div class="container-fluid" style="max-width: none">
                        <div class="row">
                            <div class="col-4 py-1" style="font-weight: bold;">
                                Asset
                            </div>
                            <div class="col-3 py-1" style="font-weight: bold;">
                                Value (@UserSettings.CurrencyCode.GetSymbol())
                            </div>
                            <div class="col-2 py-1" style="font-weight: bold;">
                                Share
                            </div>
                            <div class="col-3 py-1" style="font-weight: bold;">
                                Explore
                            </div>
                        </div>
                    </div>
                    @foreach (var asset in Fund.Assets)
                    {
                        <AssetBanner Asset="asset" />
                    }
                </div>
                <div class="col py-1">
                    <FundAssetDistributionChart Fund="Fund" IsHollow="true" />
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public ApiFund Fund { get; set; }

    protected override void OnInitialized()
    {
        AppState.Assign(StateHasChanged);
    }
}

