@inject IAppState AppState
@inject IUserSettings UserSettings

<div class="jumbotron jumbotron-fluid">
    <div class="container" style="padding-top: 12px; padding-bottom: 12px; border: 1px solid transparent;">
        <div class="container-fluid" style="max-width: none">
            <div class="row">
                <div class="col py-1">
                    <PortfolioDistributionChart Investments="Investments" IsHollow="true" />
                </div>
                <div class="col py-1">
                    <h1 class="display-4">Portfolio Breakdown</h1>
                    <p class="lead">
                        <EthAddress Address="@UserSettings.WalletAddress" HighlightOwnership="false" FontSize="24" />
                    </p>
                    <div class="container-fluid" style="max-width: none">
                        <div class="row">
                            <div class="col py-1" style="font-weight: bold;">
                                Fund
                            </div>
                            <div class="col py-1" style="font-weight: bold;">
                                Nav / Market Price
                            </div>
                        </div>
                    </div>
                    @foreach (var investment in Investments
                       .Where(x => !x.Legacy)
                       .OrderByDescending(x => x.RealValue))
                    {
                        <InvestmentBanner Investment="investment" />
                    }
                    <div class="container-fluid" style="max-width: none">
                        <div class="row">
                            <div class="col py-1">
                            </div>
                            <div class="col py-1" style="font-weight: bold;">
                                <Money Value="TotalAssetValue" Decimals="2" CurrencyCode="UserSettings.CurrencyCode" />
                                <span> / </span>
                                <Money Value="TotalMarketValue" Decimals="2" CurrencyCode="UserSettings.CurrencyCode" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public List<ApiInvestment> Investments { get; set; }

    protected decimal TotalAssetValue => Investments.Where(x => !x.Legacy).Sum(x => x.RealValue);

    protected decimal TotalMarketValue => Investments.Where(x => !x.Legacy).Sum(x => x.MarketValue ?? 0);

    protected override void OnInitialized()
    {
        AppState.Assign(StateHasChanged);
    }
}

