@inject IAppState AppState
@inject IUserSettings UserSettings

<div class="container-fluid" style="max-width: none">
    <div class="row">
        <div class="col py-1">
            <img src="images/funds/@(StakeFund.Symbol).png" width="32" height="32">
            <span>@StakeFund.Symbol</span>
            @if (StakeFund.Quantity != default)
            {
                <span>
                    <small style="font-size: 10px; vertical-align: top; font-weight: bold;">
                        &times; <LargeNumber Value="StakeFund.Quantity" Decimals="2" />
                    </small>
                    <small style="font-size: 10px; vertical-align: top; font-weight: bold; color: #6c757d;">
                        (<LargeNumber Value="StakeFund.ModifiedQuantity" Decimals="2" />)
                    </small>
                </span>
            }
        </div>
        <div class="col py-1 text-mob-sm">
            <Money Value="StakeFund.Power" CurrencyCode="UserSettings.CurrencyCode" Decimals="2" />
        </div>
    </div>
</div>

@code {
    [Parameter]
    public ApiStakingPowerFund StakeFund { get; set; }

    protected override void OnInitialized()
    {
        AppState.Assign(StateHasChanged);
    }
}
