@if (string.IsNullOrWhiteSpace(ContractAddress))
{
    <div style="display: inline-block; position: relative;">
        @Symbol
    </div>
}
else
{
    <Link DisplayText="@Symbol" CaptionText="View on etherscan" Url="@Link" />
}

@code {

    [Parameter]
    public string Symbol { get; set; }

    [Parameter]
    public string ContractAddress { get; set; }

    internal string Link => $"https://etherscan.io/token/{ContractAddress}";
}
